html{
    margin: 0;
}
span{
    display: block;
}
.canvas{
    text-align: center;
    margin: 100px auto;
     width : 80%;
}
.colors{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.button{
    height: 100px;
    width: 100px;
    border:  2px solid black ;
    display: inline-block;
}
#gray{
    background-color: gray;
}
#red{
    background-color: red;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}
